.compareNode {
	r: 3;
	fill: lightgray;
	stroke-width: 1;
	stroke: steelblue;
}
.compareSquare {
	stroke: #E6E6E6;
	stroke-width: 2;
	fill: rgb(255, 255, 217);
	rx: 5;
	ry: 5;
	opacity: 0.6;
}
.compareCircle {
	fill: steelblue;
	opacity: 0.6;
	stroke: #E6E6E6;
	stroke-width: 2;
}
.BalancedCircle {
	opacity: 0.9 !important;
}
.unBalancedCircle {
	stroke: #AE0000 !important;
}
.stopPoint {
	stroke: #2F0000 !important;
}
.compareLine {
	stroke: gray;
	fill: gray;
	stroke-width: 1;
}
.majorLine {
	opacity: 0.9;
}
.minorLine {
	opacity: 0.6;
}
.compareGraphToolbarDiv {
	float: left;
	width: 5%;
	height: 100%;
}
.compareGraphDiv {
	float: right;
	width: 95%;
	height: 100%;
}
.compareGraphOverviewDiv {
	float: right;
	width: 50%;
	height: 100%;
}
.compareGraphDetailDiv {
	float: left;
	width: 50%;
	height: 100%;
}
.fullSvg {
	width: 100%;
	height: 100%;
}